<!-- Footer -->
<footer class="page-footer font-large pt-2" style="background: #7b1d1d; height: 6vh;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p class="love" style="color: beige;">Made with <span style="color: #C51104;">&hearts;</span>
            <a href="https://www.gypsyphi.com/" target="_blank"> by GypsyPhi</a></p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="/public/js/main.js"></script>