<!DOCTYPE html>
<html>

<head>
	{{>header }}
</head>

<body class="m-index h-100" data-scrolling-animations="true" data-equal-height=".b-auto__main-item">
	{{>header_links}}

	{{{body}}}

	<div id="loading">
		<div class="lds-roller">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	{{>footer_scripts}}
</body>

</html>